#TitleText {
    color: black;
    text-align: center;
}

#headerStyle {
    flex:1;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#headerText {
    flex: 1;
    background: rgb(175, 172, 166);
    
}

#logo {
    flex: 1;    
}

#light{
    color-scheme: only light;
    background: rgb(255, 255, 255);
}